name: update node

on: 
  push:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron:  '*/15 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: get-docker
        uses: actions/setup-python@v2
    
      - name: cache-files
        uses: actions/checkout@v2

      - name: run
        run: 
          pip3 install requests && python3 update.py
      
      - name: Commit and push if changed   # 更新node.txt
        run: |
          git diff
          git config --global user.email "None"
          git config --global user.name "talking-toaster"
          git add node.txt
          git commit -m "Github Action Auto Updated"
          git push
          